<div class="card card-day">
  <header class="card-header">
    <h4 class="card-header-title">
      Component
    </h4>
    <a href="javascript:void(0)" class="card-header-icon" aria-label="more options" (click)="showModal()">
      <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>

<div class="modal" #diaryModal>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" (click)="hideModal()"></button>
    </header>
    <section class="modal-card-body">
      <form novalidate (submit)="false" [formGroup]="formNote">

        <div class="field">
          <label class="label">Date*</label>
          <div class="control">
            <input type="date" class="input" placeholder="Date" formControlName="date">
          </div>
        </div>

        <div class="field">
          <label class="label">Content*</label>
          <div class="control">
            <textarea class="textarea" placeholder="Textarea" formControlName="content"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="isGood"> Is it Good?
            </label>
          </div>
        </div>

      </form>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" [disabled]="formNote.invalid" (click)="onSubmit(formNote)">Save changes</button>
      <button class="button" (click)="hideModal()">Cancel</button>
    </footer>
  </div>
</div>
